.mdm-model-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px 0 8px;

    height: 32px;
    background-color: #111111;
    color: #ffffff;
}

.mdm-model-header .mdm-breadcrumbs {
    color: #ffffff;
}
