.mdm-details-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mdm-details-element .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 145px;
}

.mdm-details-element .title.warning {
    color: crimson;
}

.mdm-details-element .title .element-indicator {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #ffbf00;
    padding-right: 4px;
}

.mdm-details-element .options .mdm-details-element-option {
    border: none;
    background-color: transparent;
    color: white;
    padding: 1px;
}

.element-list .element-details {
    padding-left: 4px;
    border-left: 1px solid #ffbf00;
    overflow-wrap: break-word;
    font-size: 0.9rem;
}

.element-list .element-details .element-field {
    display: flex;
    flex-direction: column;
}

.element-list .element-details .element-field.nested {
    padding-left: 4px;
}

.element-list .element-details .element-field .key {

}

.element-list .element-details .element-field .value {
    padding-left: 4px;
    color: #aaaaaa;
}
