.mdm-creation-form .mdm-form-input-field {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-bottom: 8px;
}

.mdm-creation-form .mdm-form-input-field label {
    font-size: 1rem;
}

.mdm-creation-form .mdm-form-input-field.error-occurred {
    color: crimson;
}

.mdm-creation-form .mdm-form-input-field .error {
    display: none;
}

.mdm-creation-form .mdm-form-input-field.error-occurred .error {
    display: block;
}
