.mdm-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #222;
    color: white;
    height: 64px;
    padding: 10px 20px 20px 20px;
    text-align: center;
}

.mdm-header .title {
    font-size: 2em;
}
