.mdm-nav {
    position: absolute;
    top: 94px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 224px;
    padding: 20px 8px 20px 8px;
    color: white;
}

.mdm-nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: aliceblue;
    padding: 4px 0;
    border-bottom: 1px solid;
}

.mdm-nav a:first-child {
    padding-top: 0;
}

.mdm-nav a:last-child {
    padding-bottom: 0;
}

.mdm-nav a.active {
    color: #ffbf00;
}

.mdm-nav a .nav-icon {
    padding-right: 4px;
}
