.mdm-details {
    position: absolute;
    top: 94px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #111111;
    width: 224px;
    padding: 20px 8px 20px 8px;
    color: white;
    overflow-y: scroll;
}

.mdm-details .element-list {
    padding-left: 0;
    list-style: none;
}
